.spinner {
    color: blue;
    border: 16px solid #f3f3f3; /* Light grey background border color */
    border-top: 16px solid #3498db; /* Blue color for the spinning part */
    border-radius: 50%; /* Make it a circle */
    width: 120px; /* Set the size */
    height: 120px;
    animation: spin 1s linear infinite; /* Required */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.country-card{
background: white;
padding: 20px;
margin: 20px;
border-radius: 6px;


}
.neighbour-view{

    background: white;
    grid-template-columns: repeat();
    gap : 15px;
    padding: 20px;}

.border-grid {
    display: flex /* or display: flex */
    /* Additional layout properties */
}

.error {
    color: red;
    font: bold sans-serif;
    /* Additional styling */
}



.hidden {
    display: none;
}
